@import "colors_variables";

* {
    box-sizing: border-box;
}

@mixin center($position) {
    position: absolute;
    @if $position=='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position=='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }
    @else if $position=='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin translateX ($x) {
    @include transform(translateX($x));
}

@mixin translateY ($y) {
    @include transform(translateY($y));
}

@mixin blur ($px) {
    -webkit-filter: blur($px);
    -moz-filter: blur($px);
    -o-filter: blur($px);
    -ms-filter: blur($px);
    filter: blur($px);
}

html,
body {
    height: 100%;
    width: 100%
}

html {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
}

body {
    font-size: 62.5%; // 1em = 10px
    //background: #eaeaea;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body > header {
    position: absolute;
    z-index: 50;
    padding: 15px;
    width: 100vw;
    background: rgba(255,255,255,0.4);
    box-shadow: 0px 1px 2px 0px rgba(255,255,255,0.25);
    color: #fff;
    
    nav {
        position: relative;
        
        .logo {
            display: inline-block;
            font-size: 3em;
            font-weight: 500;
            letter-spacing: 1px;
            opacity: 0.75;
        }
        
        ul {
            right: 0;
            @include center(vertical);
            
            li {
                display: inline-block;
                font-size: 1.6em;
                
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}

.nav-padding {
    padding-top: 60px;
}

.container {
    width: 80%;
    max-width: 1200px;
}

.hero{
    position: relative;
    text-align: center;
    padding-bottom: 25px;
    height: 50vh;
    min-height: 500px;
    overflow: hidden;
    background: #000;
    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
        linear-gradient(to left, rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.4)),
        url("../img/abstract.jpg") center center no-repeat;
        //background-blend-mode: multiply;
        background-size: cover;
        @include blur (5px);
        
    }
    
    .hero-content {
        position: relative;
        z-index: 5;
        margin: 0 auto;
        top: 50%;
        @include translateY(-50%);
        color: #fff;
        font-weight: 100;
        font-family: 'Maven Pro';
        overflow-x: hidden;
        
        h1 {
            margin-top: 25px;
        }
        
        h2 {
            margin: 40px 0;
            line-height: 1.25em;
        }
    }
    
    .after-submit {
        display: none;
        @include center(both);
    }
    
    form {
        position: relative;
        width: auto;
        height: auto;
        padding: 15px;
        margin: 0 auto 25px auto;
        background: rgba(255,255,255,0.3);
        box-shadow: 0 3px 5px 0px rgba(0,0,0,0.5);
        border-radius: 10px;
        font-family: inherit;
        transition: all 0.3s ease-in-out;
        
        h3 {
            margin-bottom: 30px;
            //padding-bottom: 10px;
            font-weight: 500;
            font-size: 2.5em;
            //border-bottom: 1px solid #fff;
            display: block;
        }
        
        .ss-question-list {
            display: inline-block;
        }
        
        .ss-q-item-label {
            float: left;
        }
        
        .ss-q-title {
            height: 40px;
            margin-bottom: 5px; 
            vertical-align: center;
            font-size: 1.8em;
            line-height: 2.7em;
            display: inline-block;
            margin-right: 10px;
        }
        
        .ss-form-question {
            //width: 47.5%;
            float: left;
            &:first-child {
                //margin-right: 2.5%;
                position: relative;
                 &::after {
                    content: "";
                    height: 40px;
                    width: 2px;
                    background: #fff;
                    position: absolute;
                    right: -7.5px;
                    top: 0;

                }
            }
            
            &:nth-child(2) {
                //margin-left: 2.5%;
                display: inline-block;
            }
        }
        
        .ss-choices {
            position: relative;
            float: left;
        }
        
        // provider, consultant, other boxes
        
        .ss-choice-item {
            position: relative;
            float: left;
            width: 100px;
        }
        
        .ss-choice-label {
            @include center(both);
            font-family: inherit;
            font-size: 1.6em;
        }
        
        input[type="radio"] {
            display: none;
        }
        
        input[type="radio"] + label > span:nth-of-type(1) {
            display:inline-block;
            position: relative;
            background: rgba(255,255,255,0.4);
            height: 40px;
            width: 95%;
            z-index: 10;
            opacity: 0.4;
            transition: all 0.3s ease-in-out;
            }
        
        input[type="radio"]:checked + label > span:nth-of-type(1) {
            opacity: 1;
            }
        
        input[type="text"] {
            border: none;
            background: none;
            font-size: 1.6em;
            font-family: inherit;
            display: inline-block;
            text-align: left;
            outline: none;
        }
        
        input[aria-label="Email:  "] {
            display: inline-block;
            height: 40px;
            margin-bottom: 5px;
            padding-left: 10px;
            width: 150px;
            background: rgba(255,255,255,0.4);
            opacity: 0.6;
            transition: all 0.3s ease-in-out;
            margin-left: 15px;
            
            &:focus {
                opacity: 1;
            }
            
            &::-webkit-input-placeholder {
               color: #fff;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #fff;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #fff;  
            }

            &:-ms-input-placeholder {  
               color: #fff;  
            }
                    }
        
        input.ss-q-other-toggle[type="radio"]:checked ~ .ss-q-other-container {
            opacity: 1;
            margin-top: 10px;
            
            input {
                height: 40px;
            }
        }
        
        .ss-q-other-container {
            opacity: 0;
            position: relative;
            bottom: 0;
            left: -100%;
            display: inline-block;
            border-bottom: 1px solid black;
            margin-top: -100px;
            transition: all 0.3s ease-in-out;   
            input {
                height: 0;
                transition: all 0.3s ease-in-out;  
            }
        }
        // email button
        .ss-navigate {
            //width: 47.5%;
            float: left;
            display: inline-block;
            
            table {
                width: 100px;
            }
            
            input {
                display: inline-block;
                border: none;
                height: 40px;
                width: 100%;
                margin-left: 10px;
                font-family: inherit;
                font-size: 1.8em;
                text-transform: uppercase;
                letter-spacing: 2px;
                background: $blue;
                outline: none;
                color: $white;
                cursor: pointer;
                -webkit-appearance: none;
            }
        }
    }
    
}

.graphics {
    margin: 25px auto;
    font-family: 'Source Sans Pro', sans-serif;
    
    h2 {
        text-align: center;
        margin: 25px auto 25px auto;
        font-size: 3.6em;
        display: inline-block;
        width: 100vw;
    }
    
    .graphics-content {
        margin: 0 auto 50px auto;
//        position: relative;
//        top: 50%;
//        @include translateY(-50%);
    }
    
    figure {
        //box-shadow: 0 3px 5px 0px rgba(0,0,0,0.5);
        min-height: 210px;
        //padding: 10px 0;
        background: #fff;
        width: 15.83%;
        height: auto;
        float: left;
        &:not(:first-child) {
            margin-left: 1%;
        }
    
        img {
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 10px;
            padding-bottom: 0;
            &::before {
                content: "";
                display: block;
                padding-top: 100%;
            }   
        }
        
        figcaption {
                background: none;
                font-family: inherit;
                font-size: 1.6em;
                text-align: center;
                margin: 10px 0;
                font-weight: 600;
            }
    }
    
    .marketplace {
        color: #93c47d;
    }
    
    .consultants {
        color: #76a5af;
    }
    
    .low-prices {
        color: #6d9eeb;
    }
    
    .product {
        color: #6fa8dc;
    }
    
    .communication {
        color: #8e7cc3;
    }
    
    .payment {
        color: #c27ba0;
    }
}

footer {
    padding: 15px;
    background: #ebebeb;
    font-size: 1.4em;
}

@media screen and (max-width: 1440px) {
    .hero {
        height: auto;
        min-height: 0; 
        
        .hero-content {
            top: auto;
            @include translateY(0);
        }
    }
    
    .graphics {
        height: auto;
        min-height: 0; 
        
        .graphics-content {
            top: auto;
            @include translateY(0);
        }
    }
}
@media screen and (max-width: 1024px) {
        
    .container {
        width: 95%;
    }
    .graphics {
        figure {
            width: 32%;
            height: auto;
            float: left;
            &:nth-child(4) {
                margin-left: 0;
            }
            
            &:not(:nth-child(3n+1)) {
                margin-left: 2%;
            }
            
            &:nth-child(n+4) {
                margin-top: 50px;
            }
            
            img {
                padding: 35px 35px 0 35px;
            }
            
            figcaption {
                //font-size: 2em;
            }
        }
    }
}
@media screen and (max-width: 690px) {
    .hero form {
        .ss-form-question {
            &:first-child {
                width: 100%;
                &::after {
                     display: none;

                }
            }
            &:nth-child(2) {
                width: 50%;
                position: relative;
                margin-top: 40px;
                &::before {
                    content: "";
                    height: 2px;
                    width: 90%;
                    background: #fff;
                    position: absolute;
                    right: calc(-100% + 20px);
                    @include translateX(-50%);
                    top: -25px;
                }
            }
        }
        
        .ss-choices {
            width: 86%;
        }
        
        .ss-choice-item {
            width: 33%;
        }
        
        input[aria-label="Email:  "] {
            width: 100%;
            margin-left: 0;
        }
        
        .ss-navigate {
            width: calc(50% - 15px);
            margin-top: 40px;
            
            table {
                width: 100%;
            }
        }
    }
    
    .graphics figure {
        img {
                padding: 25px 25px 0 25px;
            }
    }
    
}

@media screen and (max-width: 510px) {
    
    .hero form {
        
        .ss-choices {
            width: 82%;
        }
    }
    
    .graphics {
        figure {
            width: 47.5%;
            height: auto;
            float: left;
            &:nth-child(4) {
                margin-left: 0;
            }
            
            &:not(:nth-child(3n+1)) {
                margin-left: 0;
            }
            
            &:not(:nth-child(2n+1)) {
                margin-left: 5%;
            }
            
            &:nth-child(n+3) {
                margin-top: 50px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 14px;
    }
    
    body > header nav ul li:not(:last-child) {
        margin-right: 7.5px;
    }
    
    .hero form {
        .ss-q-item-label {
            width: 100%;
        }
        .ss-q-title {
            margin-right: 0;
        }
        .ss-choices {
            width: 100%;
        }
    }
    .graphics {
        
        h2 {
            font-size: 5em;
            margin-bottom: 0;
        }
        
        figure {
            position: relative;
            left: 50%;
            @include translateX(-50%);
            width: 75%;
            height: auto;
            float: left;
            &:nth-child(n+1) {
                margin-left: 0;
            }
            
            img {
                padding: 40px 40px 0 40px;
            }
            
            figcaption {
                font-size: 2.6em;
            }
        }
    }
}